<% provide(:title, "通知の仕組み") %>
<div class="container">
  <h1>通知の仕組み</h1>
  <h2>Step1. 登録した通知情報をDBに記憶する</h2>
  <p>ユーザーが登録した通知の情報を、DBに記憶します。</p>
  <p>この際、入力されたトークンは秘密情報であるため、共通鍵暗号(AES)によって暗号化されます。</p>
  <%= image_tag "step-1.png", id: "step1" %>
  <h2>Step2. Heroku Schedulerが通知プログラムを定期実行させる</h2>
  <p>Rubyによるアプリケーションの体裁を成すスクリプトとは別に、登録された空席照会情報に空席があるかどうかを確かめる</p>
  <p>スクリプトを用意しましたので、それを定期的に実行させます。</p>
  <p>本アプリケーションでは、このスクリプトを10分間に1回だけ実行します。</p>
  <p>（本当はもっと高頻度で定期実行させたいのですが、無料の運用範囲ですとこれが限界です。）</p>
  <%= image_tag "step-2.png", id: "step2" %>
  <h2>Step3. 空席がある場合、LINEに通知をする</h2>
  <p>Step2. において空席があった場合、登録したトークンを復号し、</p>
  <p>そのトークン宛に空席があった列車名と予約サイトのURLをLINEのメッセージとして送信します。</p>
  <%= image_tag "step-3.png" , id: "step3"%>
</div>
